<header>
  <nav class="navbar">
      <a class="navbar-brand" href="/">Company Name</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Shop <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", products_path %></li>
              <% Category.all.each do |category| %>
                <li><%= link_to category.display_name, "#{products_path}?category=#{category.id}" %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_us_path %></li>
          <% if logged_in? && current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Manage <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Product", new_product_path %></li>
                <li><%= link_to "Orders", orders_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="bag">
            <%= link_to shopping_bag_path do %>
              <i class="fas fa-shopping-bag fa-lg"></i> £<%= format_price(item_total) %>
            <% end %>
          </li>
          <% if logged_in? %>
            <li id="account" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-user fa-lg"></i>
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Orders", my_orders_path %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li id="account"><a href="/login"><i class="fas fa-user fa-lg"></i> Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
</header>
